body {
  background-color: #B3A2A5;
}

.header {
    background-color: #B3A2A5;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.subHeader {
    background-color: #B3A2A5;
    color: #fff;
    text-align: center;
}

.image {
    margin-top: 30px;
    vertical-align: center;
}

.stockImage {
    width: 25%;
}

.body {
    background-color: #B3A2A5;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}